name: Publish NPM Package

on:
  workflow_dispatch:
    inputs:
      node-version:
        description: Node.js version to use.
        required: false
        type: choice
        options:
          - '18'
          - '20'
          - '22'
          - '24'
        default: '24'
      npm-tag:
        description: 'NPM tag to publish the package (e.g., latest, beta, etc.)'
        required: false
        default: 'latest'
        type: string
      dry-run:
        description: Performs a dry run of the publish.
        required: false
        type: boolean
        default: false

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    name: Publish NPM Package
    uses: WJSoftware/cicd/.github/workflows/npm-publish.yml@v0.4
    secrets: inherit
    with:
      node-version: ${{ inputs.node-version }}
      npm-tag: ${{ inputs.npm-tag || 'latest' }}
      dry-run: ${{ inputs.dry-run }}
